
server:
  port: 8888
  
spring:
  application:
    name: ms-admin-config-server
    
#Configuracion Local
#  profiles:
#    active: native
#  cloud:
#    config:
#      server: 
#        native:
#          searchLocations: file:///D:/WorkspaceMS/ms-admin-config-data


#Configuracion Cloud (git)
  cloud:
    config:
      server:
        git:
          uri: https://github.com/anthonyfaces/MS-RESERVA.git
          search-paths:
          - ms-admin-config-data
          username: ${GIT_USER_NAME}
          password: ${GIT_PASSWORD}
          clone-on-start: true
          force-pull: true
          timeout: 5
#          default-label: 02.-Config-Server
          
          
          
          
          
          
          
          